.footer {
    width: 100%;
    // max-width: toRem(1600px);
    min-height: toRem(60px);
    padding-top: toRem(20px);
    padding-bottom: toRem(20px);
    padding-inline: toRem(15px);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: toRem(40px);
        height: auto;
    }
}