.about {
    background-color: rgb(28, 15, 133);
    color: rgb(249, 249, 243);
    padding-top: toRem(50px);
    padding-bottom: toRem(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__text-box {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(30px);
        flex-direction: column;
        text-align: justify;

        .about__hdl {
            text-align: center;
            font-family: "Open Sans", sans-serif;
        }
    }

}