html,
body {
    font-size: toRem($base-font-size);
    width: 100%;
    padding-inline: toRem(16px);
    background-color: $bg-color;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    @media only screen and (max-width: toRem(800px)) {
        padding-inline: 0;
    }
}