@import './settings/reset.scss';
@import './settings/variables.scss';
@import './settings/utils.scss';
@import './settings/layout.scss';
@import './components/navbar.scss';
@import './components/footer.scss';
@import './components/home/hero.scss';
@import './components/home/introduction.scss';
@import './components/home/about.scss';
@import './components/news/news.scss';


html,
body {
    font-size: toRem($base-font-size);
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: toRem(1700px);
    margin: 0 auto;
    background-color: #f2f2db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

