.publications {
    // background-image: url(../../../assets/background.jpg);
    // background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: toRem(10px);
    background-color: rgb(28, 15, 133);

    &__hdl {
        background-color: rgb(225, 164, 41);
        width: 100%;
        min-height: toRem(50px);
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: toRem(10px);
    }

        &__list {
            margin-top: toRem(10px);
            width: 100%;
            // background-color: rgb(28, 15, 133);
            // color: rgb(249, 249, 243);
            margin: toRem(10px) auto;
            padding: toRem(10px) toRem(20px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: toRem(20px);

            .publication-box {
                width: 30%;
                padding: toRem(20px) toRem(20px);
                //background-color: rgb(198, 227, 237);
                background-color: #fff;
                border-radius: toRem(5px);
                color: #000000bc;
                display: flex;
                flex-direction: column;
                gap: toRem(10px);
                line-height: 2;

                .publication__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: toRem(10px);
                }
            }
        }
    }
